<section class="hero is-primary is-halfheight">
    <div class="hero-body">
      <div class="">
        <p class="title">
          Jurnal
        </p>
        <p class="subtitle">
          some task journaling app
        </p>
      </div>
    </div>
  </section>